# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# Type-checking and linting caches
.mypy_cache/
.ruff_cache/

# Build files
build/
dist/
*.egg-info/

# Editors
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
